doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet' href='/assets/css/main.css')

  body.is-preload
    nav#nav
      ul.container
        li
          span MusicalBox
        li
          a(href='/') Home
        li
          a(href='/musiques') Musiques
        li
          a(href='/users') Utilisateurs

    block content

    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrolly.min.js')
    script(src='/assets/js/browser.min.js')
    script(src='/assets/js/breakpoints.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')