extends layout

block content

    article(id='top' class='wrapper style2')
        div.container
            header
                h2
                    img(src='/images/musicalbox.png' width='64' lenght='64' alt='')
                    span &nbsp;Liste des musiques    
                ul.container
                    if (liste)
                        table.default
                            tr
                                th Nom du titre
                                th Auteur
                                th Genre       

                            each obj in liste
                                tr
                                    td
                                       a(href='/musiques/'+obj.nom)= obj.nom
                                    td= obj.auteur
                                    td= obj.genre
                        if (sommes)
                            span= sommes
                        else
                            h4(style='color: red;') niet...                        
                    else
                        h4(style='color: red;') Pas de musiques pour l'instant dans la bibliothèque...
            div.row
                div.col-12
                    form(name='addmusic' method='post' action='../musiques/upload' enctype='multipart/form-data')
                        div(class='row gtr-uniform')
                            div(class='col-6 col-12-small')
                                input(type='file' name='upload' id='upload')
                            p
                            div(class='col-6 col-12-small')
                                input(type='text' name='auteur' id='auteur' value='' placeholder='auteur')
                            p
                            div(class='col-6 col-12-small')
                                input(type='text' name='genre' id='genre' value='' placeholder='genre')
                            div(class='col-12')
                                ul(class='actions')
                                    li
                                        input(type='submit' value='Upload du fichier' class='primary')