extends layout

block content

    article(id='top' class='wrapper style2')
        div.container
            header
                h2
                    img(src='/images/musicalbox.png' width='64' lenght='64' alt='')
                    span &nbsp;Jouer une musique   
            div.row
                div.col-12
                    figure(style="margin: 0;")
                        figcaption Musique en écoute : #{chanson}
                            audio( controls autoplay src= morceau)