extends layout

block content

  article(id='top' class='wrapper style2')
    div.container
      header
        h2
          img(src='/images/musicalbox.png' width='64' lenght='64' alt='')
          span &nbsp;Liste des utilisateurs
        ul.container
          if (liste)
            table.default
              tr
                th Login
                th Passe
                th Rôle       

              each obj in liste
                tr
                  td= obj.login                 
                  td= obj.passe
                  td= obj.role                     
          else
            h4(style='color: red;') Pas d'utilisateurs pour l'instant dans la bibliothèque...